name: 'vae_vanilla'

model:
  _target_: src.models.aloha_vanilla.build
  replace_args:
    camera_names:
      - 'vf'
      - 'vg'
    num_queries: 10
    state_dim: 7
    hidden_dim: 256


inference:
  ckpt_path: ' '

