**/*.DS_Store
.DS_Store
plot.py
sample_noise_vector.py

checkpoints/
**/checkpoints/
tensorboard_logs/
results/
**/outputs/
jobs/
scripts/
**/__pycache__/
__pycache__/
util/__pycache__/
.idea/
*.out
*.log
pretrained_models/
**/*.sh
!1spade.sh
!ganformer_oasisD.sh
!ganformer_epe.sh
!oasisG_epe.sh
**/*.jpeg
**/*.png
__MACOSX/
*.npy
test.py
test_old.py
structure_experiments.py
personal_experiments.py
utils_contrastive/


personal_experiments.py
