# config_progress_prediction.yaml


defaults:
- datasets: see_hear_feel_audio
- models: progress_prediction/vit_64_51
- optimizers: adam_steplr
- pl_modules: progress_predictor
- trainers: progress_predictor
- _self_


# General settings
task_name: "progress_prediction"
variable_name: n_mel
seed: 42
results_dir: 'results'
# output dir path: smart_sensor_fusion/results/task name/dataset name/model name/time stamp/
hydra:
  sweeper:
    params:
      models: progress_prediction/vit_64_51,progress_prediction/vit_64_101,progress_prediction/vit_64_251,progress_prediction/vit_128_51,progress_prediction/vit_128_101,progress_prediction/vit_128_101_8,progress_prediction/vit_128_251
  sweep: #only controls where config.yaml is stored
    dir: ./
    subdir: ${results_dir}/${task_name}/${datasets.name}/exp_${variable_name}/${models.name}${optimizers.name}/time_${now:%m-%d-%H:%M:%S}
  run: #also works for multi-run
    dir: ./${results_dir}/${task_name}/${datasets.name}/exp_${variable_name}/${models.name}${optimizers.name}/time_${now:%m-%d-%H:%M:%S}




