# config_ssl_nce_framework.yaml


defaults:
- datasets: dummy
- models: ssl_nce_framework/dummy
- optimizers: adam_cosine
- pl_modules: ssl_nce_framework/ltmask_fom_rec_ctnce_imi
- trainers: dummy
- _self_


# General settings
task_name: "dummy_one_step"
variable_name: trainers.launch_trainer.repeat_trial
output_name: debug
seed: 42
results_dir: '/home/jin4rng/Documents/code/smart_sensor_fusion/results'
data_folder_path: '/fs/scratch/rb_bd_dlp_rng-dl01_cr_ROB_employees/students/jin4rng/data/robot_demo'

hydra:
  sweeper:
    params:
      trainers.launch_trainer.repeat_trial: 1
      trainers.launch_trainer.max_epochs: 2
      datasets.dataloader.data_folder: ${data_folder_path}
      datasets.dataloader.args.num_stack: 10
      models.model.model_dim: 256
      datasets.dataloader.batch_size: 32
      pl_modules.pl_module.ema: False
      pl_modules.pl_module._target_: src.pl_modules.dummy_one_step.TransformerPredictorPl

  sweep:  # didn't use ${hydra.runtime.choices.pl_modules} because "/" \\ if add time step: _${now:%m-%d-%H:%M:%S}
    dir: ${results_dir}/${task_name}/${datasets.name}/${output_name}/${pl_modules.name}_${models.name}_${optimizers.name}/
    # only controls where config.yaml is saved
    subdir: ./
  run: # control where multirun.yaml is saved
    dir: ${hydra.sweep.sub}/.hydra



