# config_progress_prediction.yaml


defaults:
- datasets: see_hear_feel_vision_audio
- models: progress_vision_audio/mul2one_vit_audio_vision
- optimizers: adam_steplr
- pl_modules: progress_predictor_vision_audio
- trainers: progress_predictor
- _self_


# General settings
task_name: "progress_prediction"
variable_name: dim_batchsize
seed: 42
results_dir: 'results'
# output dir path: smart_sensor_fusion/results/task name/dataset name/model name/time stamp/
hydra:
  sweeper:
    params:
      models.name: 'mul2one_newemb'
#      models.model.encoder_vision_args._target_: src.models.encoders.identity.get_identity_encoder
#      models.model.encoder_audio_args._target_: src.models.encoders.identity.get_identity_encoder
      models.model.model_dim: 256
      datasets.dataloader.batch_size: 32
  sweep: #only controls where config.yaml is stored
    dir: ./
    subdir: ${results_dir}/${task_name}/${datasets.name}/${models.name}${optimizers.name}/exp_${variable_name}/${models.model.model_dim}_${datasets.dataloader.batch_size}/${now:%m-%d-%H:%M:%S}
  run: #also works for multi-run
    dir: ./${results_dir}/${task_name}/${datasets.name}/${models.name}${optimizers.name}/exp_${variable_name}/${models.model.model_dim}_${datasets.dataloader.batch_size}/${now:%m-%d-%H:%M:%S}



