# config_progress_prediction.yaml


defaults:
- datasets: see_hear_feel_audio
- models: progress_prediction/vit_time_patch_128_51_standardpe
- optimizers: adam_steplr
- pl_modules: progress_predictor
- trainers: progress_predictor
- _self_


# General settings
task_name: "progress_prediction"
variable_name: dim_batchsize
seed: 42
results_dir: 'results'
# output dir path: smart_sensor_fusion/results/task name/dataset name/model name/time stamp/
hydra:
  sweeper:
    params:
      models.model.transformer_args.model_dim: 64,128,256
      datasets.dataloader.batch_size: 32,64,128,256
  sweep: #only controls where config.yaml is stored
    dir: ./
    subdir: ${results_dir}/${task_name}/${datasets.name}/${models.name}${optimizers.name}/exp_${variable_name}/${models.model.transformer_args.model_dim}_${datasets.dataloader.batch_size}/${now:%m-%d-%H:%M:%S}
  run: #also works for multi-run
    dir: ./${results_dir}/${task_name}/${datasets.name}/${models.name}${optimizers.name}/exp_${variable_name}/${models.model.transformer_args.model_dim}_${datasets.dataloader.batch_size}/${now:%m-%d-%H:%M:%S}




