name: 'shf_earlysum'

model:
  _target_: src.models.seehear_imitation.VisionAudioFusion_EarlySum
  model_dim: 256
  preprocess_audio_args:
    _target_: src.models.utils.mel_spec.MelSpec
    length: 40000
    sr: 16000
    n_mels: 64
    norm_audio: false
    hop_ratio: 0.05
  tokenization_audio:
    _target_: src.models.utils.tokenization.Vanilla2dTokenization
    channel_size: 1
    patch_size: [64, 10]
    input_size: [64, 51]
    model_dim: ${models.model.model_dim}
  pe_audio:
    _target_: src.models.encoders.identity.get_identity_encoder
  encoder_audio_args:
    _target_: src.models.encoders.identity.get_identity_encoder


  preprocess_vision_args:
    _target_: src.models.encoders.identity.get_identity_encoder
  tokenization_vision:
    _target_: src.models.vit_implementations.Vit
    channel_size: 3
    model_dim: ${models.model.model_dim}
    num_heads: 8
    num_layers: 4
    patch_size: [8, 8]
    input_size: [67, 90]
    num_emb: 100

  pe_vision:
    _target_: src.models.encoders.identity.get_identity_encoder
  encoder_vision_args:
    _target_: src.models.encoders.identity.get_identity_encoder


  pos_emb_args:
    _target_: src.models.utils.positional_encoding.StandardPositionalEncoding
    d_model: ${models.model.model_dim}


  transformer_args:
    _target_: src.models.transformer_implementations.TransformerEncoderVanilla
    token_dim: ${models.model.model_dim}
    num_heads: 8
    num_blocks: 4


inference:
  ckpt_path: ' '

